.options {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1.5em auto;
    gap: 1em;
}

.opt {
    display: flex;
    justify-content: center;
    padding: 1em 1.7em;
    background: #FFFFFF;
    border: 1.2px solid #878484;
    border-radius: 10px;
    color: #000;
    font-size: 0.9em;
}

.opt.selected {
    background: #342CA3;
    color: #fff;
    border: none;
}